*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.root {
  background-color: var(--color-base);
  transition: .2s color ease-in-out;
}
.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  @include screen(md) {
    padding: 0 10px;
  }
}
.displacement-map {
  position: absolute;
  visibility: hidden;
}