*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 100%;
  font-variant-ligatures: additional-ligatures;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.root {
  background-color: var(--color-base);
}
.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  @include screen(md) {
    padding: 0 10px;
  }
}
.displacement-map {
  position: absolute;
  visibility: hidden;
}