*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: var(--color-base);
}
.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  @include screen(md) {
    padding: 0 10px;
  }
}
.displacement-map {
  position: absolute;
  visibility: hidden;
}
.icons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-auto-flow: column;
  &__item {
    margin-bottom: 32px;
  }
  &__link {
    text-decoration: none;
  }
  &__icon {
    width: 32px;
    @include screen(md) {
      width: 48px;
    }
  }
}
