$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-serif: 'Tiempos Fine Test', serif;

@font-face {
  font-family: 'Tiempos Fine Test';
  src: url('~assets/fonts/tiempos-fine/TiemposFineWeb-Medium.woff2');
  src: url('~assets/fonts/tiempos-fine/TiemposFineWeb-Medium.woff') format('woff'),
    url('~assets/fonts/tiempos-fine/TiemposFineWeb-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tiempos Fine Test';
  src: url('~assets/fonts/tiempos-fine/TiemposFineWeb-MediumItalic.woff2');
  src: url('~assets/fonts/tiempos-fine/TiemposFineWeb-MediumItalic.woff') format('woff'),
    url('~assets/fonts/tiempos-fine/TiemposFineWeb-MediumItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: $font-sans;
}
