$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-serif: 'Tiempos Fine Test', serif;

@font-face {
  font-family: 'Tiempos Fine Test';
  src: url('~assets/fonts/tiempos-fine/TiemposFineTest-Medium.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tiempos Fine Test';
  src: url('~assets/fonts/tiempos-fine/TiemposFineTest-MediumItalic.woff');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: $font-sans;
  color: var(--color-primary);
}
