.header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-top:30vh;
  @include screen(md) {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    grid-auto-flow: column;
    margin-top: 0;
  }
  &__content {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: -10px;
    @include screen(md) {
      margin-bottom: inherit;
    }
  }
  &__brand {
    text-decoration: none;
    color: inherit;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      left: 100%;
      content: 'Start over';
      opacity: 0;
      display: inline-block;
      transform: translateX(50%);
      transition: all 0.1s ease;
      margin-left: 10px;
      text-transform: lowercase;
      white-space: nowrap;
    }
    &:hover {
      &:after {
        opacity: 0.5;
        transform: translateX(0%);
      }
    }
  }
}
