.header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-top:30vh;
  @include ff-and-chrome {
    filter: url(#turbulence);
}
  @include screen(md) {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    grid-auto-flow: column;
    margin-top: 0;
  }
  &__content {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: -10px;
    @include screen(md) {
      margin-bottom: inherit;
    }
  }
  &__brand {
    text-decoration: none;
    color: inherit;
    position: relative;
    &:hover {
      &:after {
        opacity: 0.5;
        transform: translateX(0%);
      }
    }
  }
}
